.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 55%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 50%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 10%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.fa-angle-down, .fa-angle-up
  color: #FFFFFF

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #00defc
  border: 0
.slyder-a__bullets__item--active
  background-color: #00defc !important
.slyder-a__bullets__item
  background-color: #aaeefe
  border: 0

.acordion__activo
  background-color: #FFF5DF !important

.acordion__accion__btn--a
  background-color: #084a93
  i
    color: white
.linea-tiempo-d__item__content__title, .linea-tiempo-d__item__content__slot
  background-color: #ecf2f9
.bloque-texto-g__texto *
    display: block !important
.acordion__accion__btn--b
  background-color: #084a93
  border:#084a93
  border: 0

.lista-ul
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.lista-ul--color
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.lista-ol--cuadro
  li
    display: flex !important
    &::before
      position: relative
      margin-right: 7px
      font-size: 1.4rem